---
title: The 23rd Genomics Standards Consortium Workshop
layout: page
slide_id: 0
---
<div class="card-block bg-faded">
	<div class="container">
        <div class="col text-muted">

<br>
<center>
<p style="font-size:20px">The GSC23-Bangkok meeting 
</p>
            <div class="text-info"><h5>Genomic Standards for Precision Medicine, Agriculture, Comparative Genomics, and Metabolomics</h5></div>
<br>
<br></center>
<p>The Genomic Standards Consortium held its 23rd meeting in Bangkok, Thailand (GSC23-Bangkok) on August 7-11, 2023, with the  Faculty of Medicine Siriraj Hospital at <a href="https://www2.si.mahidol.ac.th/en/" target=_blank>Mahidol University</a> and the (<a href="https://www.biotec.or.th/home/en/biotec-home-2021-en/" target=_blank>National Center for Genetic Engineering and Biotechnology (BIOTEC/NSTDA)</a>), with a hybrid (in person/remote) agenda. </p>
<br>
<p>The Organizing committee (see below) would like to thank all the participants, speakers and sponsors for making the meeting such a success, and we look forward to welcoming you all to GSC24!</p>
<br>
<img src="assets/images/GSC23-group-photo--reduced-size-DSC00797.jpg" alt="GSC23 group photo"  style=width:100%>
<br>
		<div>
			<div class="card">
				<div class="card-header text-white bg-inverse"><strong>Organizing Committee</strong></div>
        {% if site.data.conference.program_committees %}
        {% for committee in site.data.conference.program_committees %}
				<div class="card-block bg-faded committee">
            <p><a href="{{ committee.homepage }}"><strong>{{ committee.name }}</strong></a><p>
            <p class="card-subtitle text-muted" style="font-size: 90%;">{{ committee.org }}</p>
				</div>  
        {% endfor %}
        {% else %}
			<div class="card-block bg-faded committee">
            <p><strong>TBA</strong><p>
            <p class="card-subtitle text-muted" style="font-size: 90%;">TBA</p>
			</div>               
        {% endif %}
			</div>
{% include card-important-dates.html %}
		</div>
{% include contact-us.html %}
	</div>
</div>


