---
layout: page
slide_id: 2
---

<div class="row">

    <div class="col">
        <div class="bg-faded">
		<h1><center>The registration desk and conference room is located on the 1st floor of the SiMR building</h1></center>
<h5><a href="https://github.com/GenomicsStandardsConsortium/GSC23-Bangkok/raw/main/assets/GSC23-meeting-booklet.pdf" <font color="black">Click here</a> to download a PDF of the meeting booklet</h5>NB this file will be available after 26th July.<br>
<h5><a href="https://github.com/GenomicsStandardsConsortium/GSC23-Bangkok/raw/main/assets/Summary-schedule.pdf" <font color="black">Click here</a> to download a summary of the schedule</h5><br>
<h5><a href="https://calendar.google.com/calendar/embed?src=9900a43fe32c5a7ae695a97d94a9d4d04cae1e93c925e43facea5fdf5a4a9034%40group.calendar.google.com&ctz=Europe%2FLondon" <font color="black">Click here</a> to view the schedule in Google calendars.</h5><br>
<h5><a href="https://calendar.google.com/calendar/ical/9900a43fe32c5a7ae695a97d94a9d4d04cae1e93c925e43facea5fdf5a4a9034%40group.calendar.google.com/public/basic.ics"<font color="black">Click here</a> to download an iCal format calendar of the schedule.</h5><br>
<h5><a href="https://github.com/GenomicsStandardsConsortium/GSC23-Bangkok/raw/main/assets/GSC23-Student-Eductation-day-agenda.pdf" <font color="black">Click here</a> to download the Student Education day schedule</h5><br>
<center><a href="https://join.slack.com/t/gsc-vpc4453/shared_invite/zt-1zc8ye7ti-qiC~Qg93Y_xYId41IKVuoA"><h5>Join the converssation on Slack</h5> <img src="assets/images/GSC23-Slack-QR-Code.png"></a><br></center>
        {% for day in site.data.schedule %}
        <div>
            <!--<h4 class="schedule-table-heading">Day {{ forloop.index }} - {{ day.dateReadable }}</h4>-->
			<h5 class="schedule-table-heading">{{ day.dateReadable }}</h5>
			<h4><a href="{{day.link}}" target_blank><font color="black">{{ day.title }}</font></a></h4>
            <table class="table table-bordered table-striped table-hover table-responsive table-sm">
            {% for timeslot in day.timeslots %}
                    <thead>
                            <tr>
                                <th class="bg-info text-center" style="vertical-align:middle">
                                        <div>{{timeslot.startTime}}-{{timeslot.endTime}}</div>
                                </th>
                                {% if timeslot.type == "service" %}
                                    <th class="bg-warning text-center">
                                            <p class="text-muted">{{timeslot.title}}</p>
                                    </th>
                                {% else %}
                                    <th class="bg-faded text-center">
                                            <h5>{{timeslot.title}}</h5>
                                            {% if timeslot.speaker %}
                                            <h5 class="accordion">{{timeslot.speaker}}</h5>
											<div class="panel"><p>{{timeslot.abstract}}</P></div>
                                            {% endif %}
                                            {% if timeslot.chair %}
                                                <h6>Session chair:{{timeslot.chair}}</h6>
                                            {% endif %}
                                    </th>
                                {% endif %}
                            </tr>
                    </thead>
                    {% if timeslot.events %}
                    <tbody>
                        {% for event in timeslot.events %}
                            <tr>
                                <td width="20%">
                                </td>
                                <td class="bg-faded">
                                    <p><b>{{event.title}}</b></p>
                                    {% if event.speakers %}
                                    <h5 class="accordion">{{event.speakers}}</h5>
									<div class="panel"><p>{{event.abstract}}</p></div>
									{% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    {% endif %}
            {% endfor %}
            </table>
        </div>
        {% endfor %}
		<div class="card-block bg-faded">
        {% include contact-us.html %}
		</div>
        </div>
    </div>
	<script>
		var acc = document.getElementsByClassName("accordion");
		var i;
		
		for (i = 0; i < acc.length; i++) {
			acc[i].addEventListener("click", function() {
				this.classList.toggle("active");
				var panel = this.nextElementSibling;
				if (panel.style.maxHeight) {
					panel.style.maxHeight = null;
				} else {
					panel.style.maxHeight = panel.scrollHeight + "px";
				} 
			});
		}	
	</script>
</div>

