---
layout: page
slide_id: 5
---
<div class="card-block bg-faded">
	<div class="container">
        <div class="col text-muted">
            <div class="text-info"><h4>GSC22-Moorea Sponsors</h4></div>
			<p>We are very thankful to all of our generous sponsors.<br>
		</div>
	</div>
</div>
<div>
	{% include sponsors.html %}
</div>
<div class="card-block bg-faded">
	<div class="container">
		<div class="col text-muted">
			<div class="text-info"><h4>GSC 22-Moorea Sponsorship Opportunities:</h4></div>
			<div class="text-info"><h5>Silver Sponsor</h5></div>
<p>Silver ($3000) sponsors will receive the following benefits: 
<ol>
  <li>Acknowledgment of your sponsorship on the GSC presentations, intermission slides including 
      links to your company’s website</li>
<li>Promotional discussion of company’s technology and innovations </li>
<li>Inclusion of the sponsor’s logo in meeting materials</li>
<li>One free meeting attendee</li>
<li>Signage at meeting</li>
</ol> 
		</div>

		<div class="col text-muted">
			<div class="text-info"><h5>Gold Sponsor</h5></div>
<p>Gold ($7500) sponsors will receive the following benefits: </p>
<ol>
<li>Guaranteed 10 minute speaking slot in the program of the annual GSC meeting. </li>
<li>Acknowledgment of your sponsorship on the GSC presentations, intermission slides including links to your company’s website</li>
<li>Promotional discussion of company’s technology and innovations </li>
<li>Inclusion of the sponsor’s logo in meeting materials</li>
<li>One free meeting attendee</li>
<li>Full-page symposium program advertisement</li>
<li>Organization name and logo recognition on meeting signage</li>
<li>Special recognition of Gold sponsor at symposium and in print and marketing materials</li>
<li>Distribution of sponsor materials (electronic) to virtual participants</li>
</ol>
		</div>

		<div class="col text-muted">
			<div class="text-info"><h5>Pineapple Platinum Sponsor</h5></div>
<p>Pineapple Platinum Sponsor ($8000) will receive the following benefits: </p>
<ol>
<li>Guaranteed 15 minute speaking slot - morning of Day 1 in the program of the annual GSC meeting </li>
<li>Opportunity to introduce keynote speaker</li>
<li>Sponsor representative to join GSC board for GSC-Moorea board dinner</li>
<li>Acknowledgment of your sponsorship on the GSC presentations, intermission slides </li>
<li>including links to your company’s website</li>
<li>Promotional discussion of company’s technology and innovations </li>
<li>Inclusion of the sponsor’s logo in meeting materials</li>
<li>One free meeting attendee</li>
<li>Full page advertisement in meeting literature and Handouts</li>
<li>Organization name and logo recognition on meeting signage</li>
<li>Special recognition of Pineapple Platinum sponsor at symposium and in print and marketing materials</li>
<li>Distribution of sponsor materials (electronic) to virtual participants</li>
</ol>
		</div>

		<div class="col text-muted">
			<div class="text-info"><h5>Custom Sponsorship Available</h5></div>
<p>Thank you for your time and for considering this request and please don’t hesitate to contact me for any further information. We look forward to your response to this partnership invitation at your earliest convenience by phoning myself on 410-706-6776 or email: lschriml@som.umaryland.edu.</p>
		</div>

        {% include contact-us.html %}
   </div>
</div>