---
layout: page
slide_id: 5
---
<div class="card-block bg-faded">
	<div class="container">
        <div class="col text-muted">
            <div class="text-info"><h4>GSC23-Bangkok Sponsors</h4></div>
			<p>We are very thankful to all of our generous sponsors.<br>
		</div>
	</div>
</div>
<div>
	{% include sponsors.html %}
</div>
<div class="card-block bg-faded">
	<div class="container">
		<div class="col text-muted">
			<div class="text-info"><h4>GSC23-Bangkok Sponsorship Opportunities:</h4></div>
<!-- add in a bronze level 1000-->
			<div class="text-info"><h5>Bronze Sponsor</h5></div>
<p>Bronze ($1,000) sponsors will receive the following benefits: 
<ol>
  <li>Acknowledgment of your sponsorship on the meeting website, including links to your company’s website.</li>
<li>Inclusion of the sponsor’s logo in meeting materials.</li>
</ol>
		</div> 
		<div class="col text-muted">
			<div class="text-info"><h5>Silver Sponsor</h5></div>
<p>Silver ($2,500) sponsors will receive the following benefits: 
<ol>
  <li>Acknowledgment of your sponsorship on the meeting website, including links to your company’s website.</li>
<li>Inclusion of the sponsor’s logo in meeting materials.</li>
<li>One free meeting registration.</li>
<li>Organization name and logo recognition on meeting signage.</li>
<li>Logo included on the inter-session slides.</li>
</ol> 		</div>
		<div class="col text-muted">
			<div class="text-info"><h5>Gold Sponsor</h5></div>
<p>Gold ($5,000) sponsors will receive the following benefits: </p>
<ol>
<li>Acknowledgment of your sponsorship on the meeting website, including links to your company’s website.</li>
<li>Inclusion of the sponsor’s logo in meeting materials.</li>
<li>One free meeting registration.</li>
<li>Table top exhibition displaydisplay (~1.6 m, 5ft).</li>
<li>Half page advertisement in meeting literature.</li>
<li>Organization name and logo recognition on meeting signage.</li>
<li>Logo included on the inter-session slides.</li>
</ol>
		</div>

		<div class="col text-muted">
			<div class="text-info"><h5>Platinum Sponsor</h5></div>
<p>Platinum Sponsor ($9,950) will receive the following benefits: </p>
<ol>
<li>Guaranteed 15-minute speaking slot in the program of the annual GSC meeting.</li>
<li>Acknowledgment of your sponsorship on the meeting website, including links to your company’s website</li>
<li>Inclusion of the sponsor’s logo in meeting materials.</li>
<li>Two free meeting registrations.</li>
<li>Choice of full booth exhibition display (3m/10ft) or table top display (~1.6m, 5ft).</li>
<li>Organization name and logo recognition on meeting signage</li>
<li>Logo included on the inter-session slides.</li>
<li>Special recognition of Platinum sponsor at symposium and in print and marketing materials.</li>
<li>Full-page symposium program advertisement.</li>
<li>Sponsor representative to join GSC board for GSC23 board dinner.</li>
</ol>
		</div>

		<div class="col text-muted">
			<div class="text-info"><h5>Custom Sponsorship Available</h5></div>
			<p>There is a sponsorship broucher available <a href="assets/GSC23-Thailand-Sponsorship-Workshops_final.pdf">here</a></p>
			<p>Custom Sponsorships are available such as add-ons, partial upgrades, and event sponsorships. Please let us know your needs. We are happy to accommodate! </p>
			<p>Thank you for your time and for considering this request and please don’t hesitate to contact us for any further information.</p>
		</div>

        {% include contact-us.html %}
   </div>
</div>