---
layout: page
slide_id: 5
---
<div class="card-block bg-faded">
	<div class="container">
        <div class="col text-muted">
            <div class="text-info"><h4>GSC23-Thailand Sponsors</h4></div>
			<p>We are very thankful to all of our generous sponsors.<br>
		</div>
	</div>
</div>
<div>
	{% include sponsors.html %}
</div>
<div class="card-block bg-faded">
	<div class="container">
		<div class="col text-muted">
			<div class="text-info"><h4>GSC 23-Thailand Sponsorship Opportunities:</h4></div>
<!-- add in a bronze level 1000-->
			<div class="text-info"><h5>Bronze Sponsor</h5></div>
<p>Bronze ($1,000) sponsors will receive the following benefits: 
<ol>
  <li>Acknowledgment of your sponsorship on the GSC (www.gensc.org), including links to your company’s website.</li>
<li>Inclusion of the sponsor’s logo in meeting materials.</li>
</ol>
		</div> 
		<div class="col text-muted">
			<div class="text-info"><h5>Silver Sponsor</h5></div>
<p>Silver ($2,500) sponsors will receive the following benefits: 
<ol>
  <li>Acknowledgment of your sponsorship on the GSC (www.gensc.org), including links to your company’s website.</li>
<li>Inclusion of the sponsor’s logo in meeting materials</li>
<li>One free meeting attendee</li>
<li>Signage at meeting</li>
</ol> 		</div>
		<div class="col text-muted">
			<div class="text-info"><h5>Gold Sponsor</h5></div>
<p>Gold ($5,000) sponsors will receive the following benefits: </p>
<ol>
<li>Acknowledgment of your sponsorship on the GSC (www.gensc.org), including links to your company’s website.</li>
<li>Inclusion of the sponsor’s logo in meeting materials</li>
<li>One free meeting registration</li>
<li>Signage at meeting</li>
<li>Table top exhibition display</li>
<li>Half page advertisement in meeting literature</li>
<li>Organization name and logo recognition on meeting signage</li>
</ol>
		</div>

		<div class="col text-muted">
			<div class="text-info"><h5>Pineapple Platinum Sponsor</h5></div>
<p>Platinum Sponsor ($9,950) will receive the following benefits: </p>
<ol>
<li>Acknowledgment of your sponsorship on the GSC (www.gensc.org), including links to your company’s website</li>
<li>Inclusion of the sponsor’s logo in meeting materials</li>
<li>Two free meeting registrations</li>
<li>Signage at meeting.</li>
<li>Table top exhibition display </li>
<li>Poster Presentation</li>
<li>Organization name and logo recognition on meeting signage</li>
<li>Guaranteed 20 minute speaking slot in the program of the annual GSC meeting (or two 10 min slots)</li>
<li>Special recognition of Platinum sponsor at symposium and in print and marketing materials</li>
<li>Opportunity to introduce keynote speaker </li>
<li>Full-page symposium program advertisement</li>
<li>Sponsor representative to join GSC board for GSC22 board dinner</li>
</ol>
		</div>

		<div class="col text-muted">
			<div class="text-info"><h5>Custom Sponsorship Available</h5></div>
<p>Thank you for your time and for considering this request and please don’t hesitate to contact me for any further information. We look forward to your response to this partnership invitation at your earliest convenience by phoning myself on 410-706-6776 or email: lschriml@som.umaryland.edu.</p>
		</div>

        {% include contact-us.html %}
   </div>
</div>